<!DOCTYPE html>

<html>
<head>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body>
    <container>
        <div>
            @RenderBody()
        </div>
    </container>
</body>
</html>
