@model Student
@{
    ViewBag.Title = "Brisanje studenta";
}



<div class="forma">
    <div class="main-div">
        <div class="panel">
            <h2>Brisanje studenta</h2>
            <p>Informacije o studentu</p>
        </div>
        <form method="post" asp-action="IzbrisiPost" asp-controller="Student" asp-route-id="@Model.JMBG">

            <div class="form-group">
                <label asp-for="JMBG"></label>
                <input disabled asp-for="JMBG" placeholder="JMBG" class="form-control" type="text" name="JMBG" value=@Model.JMBG />
            </div>
            <div class="form-group">
                <label asp-for="Ime"></label>
                <input disabled asp-for="Ime" placeholder="Ime" class="form-control" type="text" name="Ime" value=@Model.Ime />
            </div>
            <div class="form-group">
                <label asp-for="Prezime"></label>
                <input disabled asp-for="Prezime" placeholder="Prezime" class="form-control" type="text" name="Prezime" value=@Model.Prezime />
            </div>
            <div class="form-group">
                <label asp-for="BrojIndeksa">Broj indeksa</label>
                <input disabled asp-for="BrojIndeksa" placeholder="Broj indeksa" class="form-control" type="text" name="BrojIndeksa" value=@Model.BrojIndeksa />
            </div>
            <button type="submit" class="btn btn-primary" name="sacuvaj">Izbriši</button>
        </form>
    </div>
</div>
