@model StudentSviStudenti
@{
    ViewBag.Title = "Studenti";
}
<br />
<div class="list-group" style="width:90%; margin:0 auto;">
    <div class="list-group-item">
        @Model.Predmet.Naziv
    </div>
</div>
<div style="width:90%; margin:0 auto;">
    <table id="predmetTabela" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th><div>JMBG</div></th>
                <th><div>BrojIndeksa</div></th>
                <th><div>Ime</div></th>
                <th><div>Prezime</div></th>
                <th><div>Dodaj</div></th>
                <th><div>Prikaz</div></th>
            </tr>
        </thead>
    </table>
</div>
<script>
    $(document).ready(function () {
        $("#predmetTabela").DataTable({
            "language": {
                "search": "Pretraga",
                "processing": "Obrada",
                "paginate": {
                    "first": "Prvi",
                    "previous": "Prethodni",
                    "next": "Sledeci",
                    "last": "Poslednji"
                },
                "loadingRecords": "Ucitavanje podataka",
                "emptyTable": "Tabela je prazna",
                "zeroRecords": "Tabela je prazna",
                "info": "Prikazivanje _START_ do _END_ od _TOTAL_ studenata",
                "lengthMenu": "Prikazi _MENU_  studenata"

            },
            "destroy": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Student/VratiStudentePoPredmetu/" +  '@Html.Raw(Model.SifraPredmeta)',
                "type": "post",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [3, 4],
                "orderable": false
            }],
            "columns": [
                { "data": "Student.JMBG", "name": "JMBG", "autoWidth": true },
                { "data": "Student.BrojIndeksa", "name": "BrojIndeksa", "autoWidth": true },
                { "data": "Student.Ime", "name": "Ime", "autoWidth": true },
                { "data": "Student.Prezime", "name": "Prezime", "autoWidth": true },

                {

                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Aktivnost/Dodaj/' + '@Html.Raw(Model.SifraPredmeta)' + '/' + "undefined" + '/' + "undefined" + '/' + full.JMBG + '">Dodaj</a>'; }
                },
                {

                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Aktivnost/AktivnostiPoStudentu/'+'@Html.Raw(Model.SifraPredmeta)'+'/' + full.JMBG + '">Prikazi</a>'; }
                }
            ]

        });
    });


</script>
