@model PolagaoDodaj
@{
    ViewBag.Title = "Dodavanje polaganja";
}



<div class="forma">
    <div class="main-div">
        <div class="panel">
            <h2>Unos polaganja</h2>
            <p>Unesite informacije o polaganju</p>
        </div>
        <form method="post" asp-action="DodajPost" asp-controller="Polagao">
            <div class="form-group">
                <label asp-for="JMBG"></label>
                <select asp-for="JMBG" placeholder="Nastavnik" class="form-control" asp-items="@(new SelectList(Model.Nastavnici,"JMBG","JMBG"))" value=@Model.JMBG></select>
            </div>
            <div class="form-group">
                <label asp-for="BrojIndeksa"></label>
                <select asp-for="BrojIndeksa" class="form-control" asp-items="@(new SelectList(Model.Studenti, "BrojIndeksa","BrojIndeksa"))" value=@Model.BrojIndeksa></select>
            </div>
            <div class="form-group">
                <label asp-for="SifraAktivnosti"></label>
                <select id="aktivnosti" name = "aktivnosti" asp-for="SifraAktivnosti" class="form-control" asp-items="@(new SelectList(Model.Aktivnosti, "SifraAktivnosti","Naziv"))" value=@Model.SifraAktivnosti></select>
            </div>
            <div class="form-group">
                <label asp-for="SifraPredmeta"></label>
                <select id="predmeti" asp-for="SifraPredmeta" class="form-control" onchange="UbaciAktivnosti()" asp-items="@(new SelectList(Model.Predmeti, "SifraPredmeta","Naziv"))" value=@Model.SifraPredmeta></select>

            </div>
            <div class="form-group">
                <label asp-for="BrojPoena"></label>
                <input asp-for="BrojPoena" placeholder="Broj poena" class="form-control" type="text" name="BrojPoena" value="" />
            </div>
            <div class="form-group">
                <label asp-for="Datum"></label>
                <input asp-for="Datum" id="datepicker" placeholder="Datum" class="form-control" type="text" name="Datum" value="" />
            </div>
            <button type="submit" class="btn btn-primary" name="sacuvaj">Sacuvaj</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#datepicker").datepicker({ dateFormat: 'dd.mm.yy' });
    });


    function UbaciAktivnosti() {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#aktivnosti").html(procemessage).show();
        var url = "/Predmet/VratiAktivnostiZaCB/";
        var _sifraPredmeta =$('#predmeti').find(":selected").val();;
        $.ajax({
            url: "/Predmet/VratiAktivnostiZaCB/"+ _sifraPredmeta,
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Izaberite aktivnost</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#aktivnosti").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>