@model IEnumerable<Aktivnost>
@{
    ViewBag.Title = "Prikaz aktivnosti";
}
<div style="width:90%; margin:0 auto;">
    <table id="aktivnostTabela" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th><div>BrojIndeksa</div></th>
                <th><div>Ime</div></th>
                <th><div>Prezime</div></th>
                <th><div>NazivPredmeta</div></th>
                <th><div>NazivTipaAktivnosti</div></th>
                <th><div>Datum</div></th>
                <th><div>BrojPoena</div></th>
                <th><div></div></th>
                <th><div></div></th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><div>BrojIndeksa</div></th>
                <th><div>SifraPredmeta</div></th>
                <th><div>NazivPredmeta</div></th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $(document).ready(function () {
        var table = $("#aktivnostTabela").DataTable({
            "language": {
                "search": "Pretraga",
                "processing": "Obrada",
                "paginate": {
                    "first": "Prvi",
                    "previous": "Prethodni",
                    "next": "Sledeci",
                    "last": "Poslednji"
                },
                "loadingRecords": "Ucitavanje podataka",
                "emptyTable": "Tabela je prazna",
                "zeroRecords": "Tabela je prazna",
                "info": "Prikazivanje _START_ do _END_ od _TOTAL_ polaganja",
                "lengthMenu": "Prikazi _MENU_  polaganja"

            },
            "destroy": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Aktivnost/SveAktivnostiPost/",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "Student.BrojIndeksa", "name": "BrojIndeksa", "autoWidth": true },
                { "data": "Student.Ime", "name": "Ime", "autoWidth": true },
                { "data": "Student.Prezime", "name": "Prezime", "autoWidth": true },
                { "data": "TipAktivnosti.Predmet.Naziv", "name": "NazivPredmeta", "autoWidth": true },
                { "data": "TipAktivnosti.Naziv", "name": "NazivTipaAktivnosti", "autoWidth": true },
                {
                    "data": "Datum", "name": "Datum", "autoWidth": true,
                    "render": function (data, type, row) {
                        var date = new Date(data);
                        var day = date.getDate();
                        var month = date.getMonth();
                        var year = date.getFullYear();
                        return day + "." + month + "." + year;
                    }
                },
                { "data": "BrojPoena", "name": "BrojPoena", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return '<a class="fa fa-cogs" href="/Aktivnost/Izmeni/' + full.JMBG + '/' + full.TipAktivnosti.Predmet.SifraPredmeta + '/' + full.SifraTipaAktivnosti + '/' + full.Datum + '"></a>'; }
                },
                {
                    "render": function (data, type, full, meta) { return '<a class="fa fa-remove" href="/Aktivnost/Obrisi/' + full.JMBG + '/' + full.TipAktivnosti.Predmet.SifraPredmeta + '/' + full.SifraTipaAktivnosti + '/' + full.Datum + '"></a>'; }
                }
            ]
        });
        $('#aktivnostTabela tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Pretrazi ' + title + '" />');
        });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that

                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>
