@model IEnumerable<Aktivnost>
@{
    ViewBag.Title = "Prikaz aktivnosti";
}
<div style="width:90%; margin:0 auto;">
    <table id="aktivnostTabela" class="table table-striped table-bordered dt-responsive nowrap" style="overflow-x:hidden" cellspacing="0">
        <thead>
            
            <tr>
                <th><div>BrojIndeksa</div></th>
                <th><div>Ime</div></th>
                <th><div>Prezime</div></th>
                <th><div>NazivPredmeta</div></th>
                <th><div>NazivTipaAktivnosti</div></th>
                <th><div>Datum</div></th>
                <th><div>BrojPoena</div></th>
                <th><div></div></th>
                <th><div></div></th>
                <th><div></div></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><div>BrojIndeksa</div></th>
                <th><div>Ime</div></th>
                <th><div>Prezime</div></th>
                <th><div>NazivPredmeta</div></th>
                <th><div>NazivTipaAktivnosti</div></th>
                <th><div>Datum</div></th>
            </tr>
        </tfoot>

    </table>
</div>
<script>
    $(document).ready(function () {
      
        
       /* $('#aktivnostTabela thead tr:eq(0) th').each(function () {
            var title = $('#aktivnostTabela thead tr:eq(1) th').eq($(this).index()).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });*/
        var tabela = $("#aktivnostTabela").DataTable({
            "language": {
                scrollX: "100%",
                "search": "Pretraga",
                "processing": "Obrada",
                "orderCellsTop": false,
                "paginate": {
                    "first": "Prvi",
                    "previous": "Prethodni",
                    "next": "Sledeci",
                    "last": "Poslednji"
                },
                "loadingRecords": "Ucitavanje podataka",
                "emptyTable": "Tabela je prazna",
                "zeroRecords": "Tabela je prazna",
                "info": "Prikazivanje _START_ do _END_ od _TOTAL_ polaganja",
                "lengthMenu": "Prikazi _MENU_  polaganja"

            },
            "destroy": true,
            "processing": true, // for show progress bar
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "dom": 'lrtip',
            "ajax": {
                "url": "/Aktivnost/SveAktivnostiPost/",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "Student.BrojIndeksa", "name": "BrojIndeksa", "autoWidth": true },
                { "data": "Student.Ime", "name": "BrojIndeksa", "autoWidth": true },
                { "data": "Student.Prezime", "name": "BrojIndeksa", "autoWidth": true },
                { "data": "TipAktivnosti.Predmet.Naziv", "name": "NazivPredmeta", "autoWidth": true },
                { "data": "TipAktivnosti.Naziv", "name": "NazivTipaAktivnosti", "autoWidth": true },
                {
                    "data": "Datum", "name": "Datum", "autoWidth": true,
                    "render": function (data, type, row) {
                        var date = new Date(data);
                        var day = date.getDate();
                        var month = date.getMonth();
                        var year = date.getFullYear();
                        return day + "." + month + "." + year;
                    }
                },
                { "data": "BrojPoena", "name": "BrojPoena", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return '<a class="fa fa-cogs" href="/Aktivnost/Izmena/' + full.Nastavnik.JMBG + '/' + full.Student.JMBG + '/' + full.TipAktivnosti.Predmet.SifraPredmeta + '/' + full.SifraTipaAktivnosti + '/' + full.Datum + '/' + full.BrojPoena + '"></a>'; }
                },
                {
                    "render": function (data, type, full, meta) { return '<a class="fa fa-remove" href="/Aktivnost/Izbrisi/' + full.Nastavnik.JMBG + '/' + full.Student.JMBG + '/' + full.TipAktivnosti.Predmet.SifraPredmeta + '/' + full.SifraTipaAktivnosti + '/' + full.Datum + '/' + full.BrojPoena + '"></a>'; }
                },
                {
                    "render": function (data, type, full, meta) { return '<a class="fa fa-search-plus" href="/Aktivnost/Prikazi/' + full.Student.JMBG + '/' + full.TipAktivnosti.Predmet.SifraPredmeta + '/' + full.SifraTipaAktivnosti + '/' + full.Datum + '"></a>'; }
                }
            ]
        });
        $('#aktivnostTabela tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Pretrazi ' + title + '" />');
        });

        tabela.columns().every(function () {
            var that = this;
            $(this.footer()).find('input').on('keyup change', function () {
                that.search(this.value).draw();
            });
        });
        /*
        // Apply the search
        tabela.columns().every(function (index) {
            $('#aktivnostTabela thead tr:eq(0) th:eq(' + index + ') input').on('keyup change', function () {
                table.column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();
            });
        });*/

    });
</script>
